<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Users  Page</h1>
  <br>
  <% if current_user %>
  <br>
  <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
   <% else %>
   <%=  link_to 'LOG IN', new_user_session_path %>
   <br>
   <%= link_to 'SIGN UP', new_user_registration_path %>
   <% end %>

</body>
</html>
