.boxes-main-body {
  width: 100%;
  float: left;
}

.boxes {
  width: 97%;
  float: left;
  background: #fafafa;
  border: 1px solid #c1c1c1;
  margin-right: 3%;
  transition: transform .5s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.boxes:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .15);
}

.boxes:last-child {
  margin-right: 0;
}

.mybox-img {
  width: 100%;
  height: 150px;
}

.mybox-img img {
  width: 100%;
  height: 100%;
}

.user-detail-main {
  width: 100%;
  float: left;
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.user-detail-img {
  width: 18%;
  float: left;
  margin: 0 8px 0 0;
}

.user-detail-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-detail {
  width: 76%;
  float: left;
}

.user-detail h3 {
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  font-family: sans-serif;
}

.user-detail p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  font-family: sans-serif;
}

.user-detail-para {
  width: 100%;
  float: left;
}

.user-detail-para p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  font-family: sans-serif;
}

.user-detail-footer {
  width: 100%;
  float: left;
  padding: 10px;
}

.heart-icon {
  width: 6%;
  float: left;
}

.heart-icon img {
  width: 100%;
  height: 100%;
}

.user-value {
  width: 85%;
  float: left;
  text-align: right;
}

.user-value p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  font-family: sans-serif;
}

@media only screen and (max-width: 678px) {
  .boxes {
    width: 100%;
    float: left;
    margin-right: 0;
    margin: 0 10px;
  }

  .boxes {
    margin: 0 0 10px;
  }
}
