
@font-face {
    font-family: 'helveticaneuebold';
    src: url('../helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('../helvetica_neu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('../helveticaneue_light-webfont.woff2') format('woff2'),
         url('../helveticaneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneueregular';
    src: url('../helveticaneue-webfont.woff2') format('woff2'),
         url('../helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../helveticaneuemed-webfont.woff2') format('woff2'),
         url('../helveticaneuemed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.padding_left_banner {
  padding-left: 60px !important;
}

.padding_zero_marg_bot {
  padding: 0 !important;
  margin-bottom: 50px !important;
}

#header .our_service {
  width: 170px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 3px;
  background: #35BDB3;
  color: #fff;
  margin: 0 30px 0 0px;
  line-height: 0;
  font-size: 14px;
}

#header .contact_us {
  width: 170px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  margin: 0;
  line-height: 0;
  font-size: 14px;
}

.banner_content {
  width: 100%;
  float: left;
  padding: 120px 0 0;
}

.banner_content h1 {
  font-size: 56px;
  font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
  line-height: 61.6px;
  color: #fff;
  margin: 0 0 20px;
  font-weight: 900;
}

.search-box-main {
  width: 100% !important;
  overflow: hidden;
}

.search-box-style {
  float: left;
  width: 80%;
}

.search-box-main .search-box-style {
  background: #fff;
  opacity: 0.5;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  height: 50px;
  display: flex !important;
  align-items: center;
}

.search-box-main input {
  background: none;
  border: none;
  width: 80%;
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.search-box-main input {
    background: none;
    border: none !important;
    width: 95% !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
}


.search-box-main input:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fa-search {
  color: #333;
  margin: 0 10px 0 10px;
}

.content-main {
    width: 100%;
    float: left;
    margin: 0 0 59px;
}

.box {
  width: 100%;
  float: left;
  border-radius: 3px;
  background: #fff;
  padding: 12px;
  margin: 0 0 10px;
  transition: transform .5s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  border: 1px solid #ebecf0;
}

.box:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.15);
}

.box_padding {
    padding: 0 6px !important;
}

/*.firstbox_padding {
  padding: 0 6px 0 0 !important;
}
.lastbox_padding {
  padding: 0 0 0 6px !important;
}*/

.box .box-content {

}

.box-img {
    width: 100%;
    float: left;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    float: left;
}

.box .box-content a {
  font-size:  14px;
  line-height: 27px;
  color: #000;
}


.box .box-content a:hover {
    color: #000;
}

.box .box-content h5 {
  font-size:  18px;
  line-height: 21px;
  margin: 5px 0;
}

.box .box-content p {
  font-size:  14px;
  line-height: 17px;
  margin: 0;
}

/*slider css*/
#demos {
  width: 100%;
  float: left;
}
.feature_exporter_section #demos .owl-carousel {
  margin: 0;
}

.feature_exporter_section #demos .owl-carousel .item {
    height: 100%;
    background: none;
    padding: 0;
}

.feature_exporter_section_main {
  background: #fff;
}

.feature_importer_section_main {
  background: #fafafa;

}

.feature-section_main {
  background: #fff;
}

.about_us_section_main {
  position: relative;
  z-index: 1;
}

.about_us_backimg {
 position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  background: url(../img/background-img/dfgsd.png) center center;
  background-position: center;
  background-size: cover;
  opacity: 0.04;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature_exporter_section,
.feature_importer_section,
.feature-section,
.about_us_section {
  width: 100%;
  float: left;
  padding: 60px 5%;
  /*margin: 0 0 50px;*/
}

.feature_exporter_section h1,
.feature_importer_section h1,
.feature-section h1,
.about_us_section h1 {
  font-size: 30px;
  /*font: 700 28px/130% "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 43px;
  color: #303030;
  margin: 0 0 20px;
  font-weight: 700;
}

.our_service {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #35BDB3;
  color: #fff;
  margin: 0 0 10px;
  line-height: 0;
}

.contact_us {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #35BDB3;
  color: #fff;
  margin: 0;
  line-height: 0;
}

.about_button {
  width: 100%;
  float: left;
}

.about_us_section_main .about_us_section .collumes {
  width: 100%;
  float: left;
  margin: 0 0 10px;
}

.about_us_section_main .about_us_section .collumes h3 {
  font-size: 20px;
  font-family: ;
  line-height: 23px;
  color: #303030;
  margin: 0 0 10px;
}

.about_us_section_main .about_us_section .collumes p {
  font-size: 16px;
  font-family: ;
  line-height: 19px;
  color: #000;
  margin: 0;
}

.about_us_section_main .about_us_section .about-icon-img {
  width: 100%;
  float: left;
}

.about_us_section_main .about_us_section .about-icon-img img {
  width: 100%;
  height: 100%;
}

.owl-item {
  width: 25% !important;
}


/*slider css*/

      ul {
      list-style: none outside none;
      padding-left: 0;
      margin: 0;
    }
    .demo{
      width: 100%;
    }

/*slider css end*/

.padding_right {
  padding-right: 0!important;
}


/*mobile view*/
@media screen and (max-width: 767px) {
  .padding_left_banner {
   padding-left: 15px !important;
  }
  .banner_content h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .padding_zero_marg_bot {
    padding: 0 15px !important;
    margin-bottom: 10px !important;
  }
  #header .our_service {
    margin: 0 0 10px;
  }
  .search-box-style {
    width: 100%;
  }
  .banner_content {
    padding: 80px 0 0;
  }
  .about_us_section h1 {
    font-size: 22px;
    margin: 0 0 8px;
    text-align: center;
    line-height: 27px;

  }
  .about_us_section p {
    text-align: center;

  }
  .feature_exporter_section, .feature_importer_section, .feature-section, .about_us_section {
    padding: 40px 0;
  }
  .about_us_section_main .about_us_section .about-icon-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    float: none;
    margin-bottom: 15px;
  }
  .about_button {
    margin: 0 0 35px;
    text-align: center;
  }
  .padding_right {
    padding-right: 15!important;
  }
  .about_us_section_main .about_us_section .collumes {
    text-align: center;
    margin: 0 0 20px;
  }
  .about_us_section_main .about_us_section .collumes h3 {
    margin: 0 0 5px;
  }


}
