@font-face
};
normal:font-style;
normal:font-weight;
url("../helveticaneuemed-webfont.woff2") format('woff2'), url("../helveticaneuemed-webfont.woff") format('woff'):src;
'helveticaneuemedium':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue-webfont.woff2") format('woff2'), url("../helveticaneue-webfont.woff") format('woff'):src;
'helveticaneueregular':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue_medium-webfont.woff2") format('woff2'), url("../helveticaneue_medium-webfont.woff") format('woff'):src;
'helveticaneuemedium':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue_light-webfont.woff2") format('woff2'), url("../helveticaneue_light-webfont.woff") format('woff'):src;
'helveticaneuelight':font-family;
normal:font-style;
normal:font-weight;
url("../helvetica_neu_bold-webfont.woff2") format('woff2'), url("../helvetica_neu_bold-webfont.woff") format('woff'):src;
'helveticaneuebold':font-family{
@font-face
};
60px !important:padding-left{
.padding_left_banner
};
10px !important:margin-bottom;
0 15px !important:padding;
50px !important:margin-bottom;
0 !important:padding{
.padding_zero_marg_bot
}
};
14px:font-size;
0:line-height;
0:margin;
#fff:color;
transparent:background;
3px:border-radius;
2px solid #fff:border;
35px:height;
170px:width{
.contact_us
};
0 0 10px:margin;
14px:font-size;
0:line-height;
0 30px 0 0:margin;
#fff:color;
#35BDB3:background;
3px:border-radius;
2px solid #fff:border;
35px:height;
170px:width{
.our_service {
#header
}
};
40px:line-height;
40px:font-size;
900:font-weight;
0 0 20px:margin;
#fff:color;
61.6px:line-height;
"Source Sans Pro", Helvetica, Arial, Lucida, sans-serif:font-family;
56px:font-size{
h1 ;
80px 0 0:padding;
left:float;
100%:width{
.banner_content
}
}
};
none:box-shadow;
none:-webkit-box-shadow;
0:outline;
none:border-color{
&:focus ;
0 !important:margin;
none !important:border;
0 !important:border-radius;
none !important:box-shadow;
95% !important:width;
none !important:border;
none:background;
none:border;
0:border-radius;
none:box-shadow;
80%:width;
none:border;
none:background{
input
};
center:align-items;
flex !important:display;
50px:height;
3px:border-radius;
1px solid #f1f1f1:border;
0.5:opacity;
#fff:background{
.search-box-style ;
hidden:overflow;
100% !important:width{
.search-box-main
};
100%:width;
80%:width;
left:float{
.search-box-style
};
0 10px:margin;
#333:color{
.fa-search
};
0 0 59px:margin;
left:float;
100%:width{
.content-main
}
}
};
0:margin;
17px:line-height;
14px:font-size{
p
};
5px 0:margin;
21px:line-height;
18px:font-size{
h5
}
};
#000:color{
&:hover ;
#000:color;
27px:line-height;
14px:font-size{
a {
.box-content
};
0 8px 17px 0 rgba(0,0,0,.15):box-shadow{
&:hover ;
1px solid #ebecf0:border;
translateZ(0):transform;
translateZ(0):-o-transform;
translateZ(0):-ms-transform;
translateZ(0):-moz-transform;
translateZ(0):-webkit-transform;
transform 0.5s:transition;
0 0 10px:margin;
12px:padding;
#fff:background;
3px:border-radius;
left:float;
100%:width{
.box
};
0 6px !important:padding{
.box_padding
}
};
left:float;
100%:width{
img ;
hidden:overflow;
left:float;
100%:width{
.box-img
};
left:float;
100%:width{
#demos
}
}
}
};
0:padding;
none:background;
100%:height{
.item ;
0:margin{
.owl-carousel {
#demos {
.feature_exporter_section
};
#fff:background{
.feature_exporter_section_main
};
#fafafa:background{
.feature_importer_section_main
};
#fff:background{
.feature-section_main
}
}
}
};
100%:height;
100%:width{
img ;
15px:margin-bottom;
none:float;
0 auto:margin;
50px:height;
50px:width;
left:float;
100%:width{
.about-icon-img
}
};
0:margin;
#000:color;
19px:line-height;
:font-family;
16px:font-size{
p
};
0 0 5px:margin;
#303030:color;
23px:line-height;
:font-family;
20px:font-size{
h3 ;
0 0 20px:margin;
center:text-align;
0 0 10px:margin;
left:float;
100%:width{
.collumes {
.about_us_section ;
1:z-index;
relative:position{
.about_us_section_main
};
cover:background-size;
no-repeat:background-repeat;
center:background-position;
fixed:background-attachment;
0.04:opacity;
cover:background-size;
center:background-position;
url("../img/background-img/dfgsd.png") center center:background;
#fafafa:background;
100%:height;
100%:width;
0:right;
0:left;
0:bottom;
0:top;
-1:z-index;
absolute:position{
.about_us_backimg
};
60px 5%:padding;
left:float;
100%:width{
.about_us_section,
.feature-section,
.feature_exporter_section,
.feature_importer_section
};
700:font-weight;
0 0 20px:margin;
#303030:color;
43px:line-height;
"ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif:font-family;
30px:font-size{
.about_us_section h1,
.feature-section h1,
.feature_exporter_section h1,
.feature_importer_section h1
};
0:line-height;
0 0 10px:margin;
#fff:color;
#35BDB3:background;
3px:border-radius;
none:border;
40px:height;
170px:width{
.our_service
};
0:line-height;
0:margin;
#fff:color;
#35BDB3:background;
3px:border-radius;
none:border;
40px:height;
170px:width{
.contact_us
};
center:text-align;
0 0 35px:margin;
left:float;
100%:width{
.about_button
};
25% !important:width{
.owl-item
};
0:margin;
0:padding-left;
none outside none:list-style{
ul
};
100%:width{
.demo
};
15!important:padding-right;
0!important:padding-right{
.padding_right
}
}
}
}
};
15px !important:padding-left{
.padding_left_banner {
(max-width { &: { 767px) {
and {
screen {
@media
}

.about_us_section {
h1 {
  font-size: 22px;
  margin: 0 0 8px;
  text-align: center;
  line-height: 27px;
}

p {
  text-align: center;
}
}

.about_us_section,
.feature-section,
.feature_exporter_section,
.feature_importer_section {
padding: 40px 0;
}
