.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .lSPager {
    &.lSpg {
      margin: 20px 0 0 !important;
      padding: 0;
      text-align: center;

      & > li {
        cursor: pointer;
        display: inline-block;
        padding: 0 5px;

        a {
          background-color: #222222;
          border-radius: 30px;
          display: inline-block;
          height: 8px;
          overflow: hidden;
          text-indent: -999em;
          width: 8px;
          position: relative;
          z-index: 99;
          -webkit-transition: all 0.5s linear 0s;
          transition: all 0.5s linear 0s;
        }
      }
    }

    &.lSGallery {
      list-style: none outside none;
      padding-left: 0;
      margin: 0;
      overflow: hidden;
      transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      li {
        overflow: hidden;
        -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
        transition: border-radius 0.12s linear 0s 0.35s linear 0s;
      }

      img {
        display: block;
        height: auto;
        max-width: 100%;
      }

      &:after {
        clear: both;
      }
    }
  }

  .media {
    opacity: 0.8;

    &.active {
      opacity: 1;
    }
  }

  &.vertical {
    position: relative;

    &.noPager {
      padding-right: 0 !important;
    }

    .lSGallery {
      position: absolute !important;
      right: 0;
      top: 0;
    }

    .lightSlider {
      & > * {
        width: 100% !important;
        max-width: none !important;
      }
    }

    .lSAction {
      & > a {
        left: 50%;
        margin-left: -14px;
        margin-top: 0;
      }

      & > .lSNext {
        background-position: 31px -31px;
        bottom: 10px;
        top: auto;
      }

      & > .lSPrev {
        background-position: 0 -31px;
        bottom: auto;
        top: 10px;
      }
    }

    .rightEnd {
      -webkit-animation: topEnd 0.3s;
      animation: topEnd 0.3s;
      position: relative;
    }

    .leftEnd {
      -webkit-animation: bottomEnd 0.3s;
      animation: bottomEnd 0.3s;
      position: relative;
    }
  }

  &.lSrtl {
    direction: rtl;

    .rightEnd {
      -webkit-animation: leftEnd 0.3s;
      animation: leftEnd 0.3s;
      position: relative;
    }

    .leftEnd {
      -webkit-animation: rightEnd 0.3s;
      animation: rightEnd 0.3s;
      position: relative;
    }
  }

  .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
  }

  &:first-child {
    &.lSSlideWrapper {
      &:last-child {
        overflow: visible;
      }
    }
  }
}

.lightSlider:after,
.lightSlider:before {
  content: " ";
  display: table;
}

.lightSlider {
  overflow: hidden;
  margin: 0;

  &.lsGrab {
    & > * {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: -o-grab;
      cursor: -ms-grab;
      cursor: grab;
    }
  }

  &.lsGrabbing {
    & > * {
      cursor: move;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: -o-grabbing;
      cursor: -ms-grabbing;
      cursor: grabbing;
    }
  }
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  & > .lightSlider {
    &:after {
      clear: both;
    }
  }

  .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
  }

  .lSFade {
    position: relative;

    & > * {
      position: absolute !important;
      top: 0;
      left: 0;
      z-index: 9;
      margin-right: 0;
      width: 100%;
    }

    & > *.active {
      z-index: 10;
    }
  }

  &.usingCss {
    .lSFade {
      & > * {
        opacity: 0;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: inherit !important;
        transition-duration: inherit !important;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-timing-function: inherit !important;
        transition-timing-function: inherit !important;
      }

      & > *.active {
        opacity: 1;
      }
    }
  }
}

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #428bca;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}

.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table;
}

.lSAction {
  & > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url("../img/controls.png");
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.8;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;

    &:hover {
      opacity: 1;
    }

    &.disabled {
      pointer-events: none;
    }
  }

  & > .lSPrev {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    border: 0;
    border-radius: 100%;
    background-position: 0 0;
    left: 4px;

    &:after {
      content: "";
      display: inline-block;
      background: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg") no-repeat;
      background-size: 16px 64px;
      width: 16px;
      height: 16px;
      margin-top: 17px;
    }
  }

  & > .lSNext {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.84);
    border: 0;
    border-radius: 100%;
    background-position: 0 0;
    background-position: 0 -48px;
    right: 10px;

    &:after {
      content: "";
      display: inline-block;
      background: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg") no-repeat;
      background-size: 16px 64px;
      width: 16px;
      height: 16px;
      margin-top: 17px;
      transform: rotate(-180deg);
    }
  }
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.lSSlideOuter .lSPager,
.lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter.lSrtl .lSPager,
.lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0;
}

.lSSlideOuter .lSGallery li,
.lSSlideOuter .lightSlider > * {
  float: left;
}

.lSSlideOuter.lSrtl .lSGallery li,
.lSSlideOuter.lSrtl .lightSlider > * {
  float: right !important;
}
@-webkit-keyframes {
  rightEnd {
    0% {
      left: 0;
    }
  }

  50% {
    left: -15px;
    left: -15px;
    top: -15px;
    top: -15px;
    left: 15px;
    left: 15px;
    bottom: -15px;
    bottom: -15px;
  }

  100% {
    left: 0;
    left: 0;
    top: 0;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    bottom: 0;
  }
}
{
  @keyframes {
    rightEnd {
      0% {
        left: 0;
      }

      topEnd {
        0% {
          top: 0;
        }

        leftEnd {
          0% {
            left: 0;
          }

          bottomEnd {
            0% {
              bottom: 0;
            }
          }
          @-webkit-keyframes {
            topEnd {
              0% {
                top: 0;
              }

              leftEnd {
                0% {
                  left: 0;
                }

                bottomEnd {
                  0% {
                    bottom: 0;
                  }
                }

                .lSSlideOuter {
                  .rightEnd {
                    -webkit-animation: rightEnd 0.3s;
                    animation: rightEnd 0.3s;
                    position: relative;
                  }
                }
              }
              @media {
                screen {
                  and {
                    (max-width { &: { 767px) {
                      .lslide {
                        width: 200px !important;
                      }
                    }
                  }
                }
              }
            }
