@font-face
};
url("../fonts/raleway/Raleway-Bold.ttf"):src;
Raleway-Bold:font-family;
url("../fonts/raleway/Raleway-SemiBold.ttf"):src;
Raleway-SemiBold:font-family;
url("../fonts/raleway/Raleway-Medium.ttf"):src;
Raleway-Medium:font-family;
url("../fonts/raleway/Raleway-Regular.ttf"):src;
Raleway-Regular:font-family{
@font-face
};
border-box:box-sizing;
0:padding;
0:margin{
*
};
Raleway-Regular, sans-serif:font-family;
100%:height{
body,
html
}
};
#35BDB3:color;
none:text-decoration{
&:hover
};
none !important:outline{
&:focus ;
all 0.4s:-moz-transition;
all 0.4s:-o-transition;
all 0.4s:-webkit-transition;
all 0.4s:transition;
0:margin;
#666666:color;
1.7:line-height;
14px:font-size;
Raleway-Regular:font-family{
a
};
0:margin{
h1,
h2,
h3,
h4,
h5,
h6
};
0:margin;
#666666:color;
1.7:line-height;
14px:font-size;
Raleway-Regular:font-family{
p
};
none:list-style-type;
0:margin{
li,
ul
}
};
#999999:color{
&:-ms-input-placeholder
};
#999999:color{
&::-moz-placeholder
};
#999999:color{
&:-moz-placeholder
};
#999999:color{
&::-webkit-input-placeholder
}
};
transparent:color{
&:-ms-input-placeholder
};
transparent:color{
&::-moz-placeholder
};
transparent:color{
&:-moz-placeholder
};
transparent:color{
&::-webkit-input-placeholder {
&:focus ;
none:border;
none:outline{
input
}
};
#999999:color{
&:-ms-input-placeholder
};
#999999:color{
&::-moz-placeholder
};
#999999:color{
&:-moz-placeholder
};
#999999:color{
&::-webkit-input-placeholder
}
};
transparent:color{
&:-ms-input-placeholder
};
transparent:color{
&::-moz-placeholder
};
transparent:color{
&:-moz-placeholder
};
transparent:color{
&::-webkit-input-placeholder {
&:focus ;
none:border;
none:outline{
textarea
};
transparent !important:border-color{
input:focus,
textarea:focus
};
0:margin;
block:display{
label
}
};
pointer:cursor{
&:hover ;
transparent:background;
none:border;
none !important:outline{
button
};
none !important:border{
iframe
};
uppercase:text-transform;
1.4:line-height;
#555555:color;
13px:font-size;
Raleway-SemiBold:font-family{
.txt1
};
1.4:line-height;
#999999:color;
13px:font-size;
Raleway-Regular:font-family{
.txt2
};
none:text-decoration;
1.4:line-height;
#555555:color;
13px:font-size;
Raleway-Regular:font-family{
.txt3
};
0 auto:margin;
100%:width{
.limiter
};
#ebebeb:background-color;
15px:padding;
center:align-items;
center:justify-content;
wrap:flex-wrap;
flex:display;
-ms-flexbox:display;
-moz-box:display;
-webkit-flex:display;
-webkit-box:display;
100vh:min-height;
100%:width{
.container-login100
};
relative:position;
10px:border-radius;
#fff:background;
560px:width{
.wrap-login100
};
100%:width{
.login100-form
};
block:display;
100%:width;
left:text-align;
uppercase:text-transform;
1.2:line-height;
#555555:color;
30px:font-size;
Raleway-Medium:font-family{
.login100-form-title
};
2px:border-radius;
1px solid #e6e6e6:border;
#fff:background-color;
relative:position;
100%:width{
.wrap-input100
}
}
};
scale(1):transform;
scale(1):-o-transform;
scale(1):-ms-transform;
scale(1):-moz-transform;
scale(1):-webkit-transform;
1:opacity;
visible:visibility{
& + .focus-input100 {
&:focus ;
0 25px:padding;
55px:height;
transparent:background;
100%:width;
block:display;
18px:font-size;
1.2:line-height;
#555555:color;
Raleway-Medium:font-family{
.input100
};
scaleX(1.1) scaleY(1.3):transform;
scaleX(1.1) scaleY(1.3):-o-transform;
scaleX(1.1) scaleY(1.3):-ms-transform;
scaleX(1.1) scaleY(1.3):-moz-transform;
scaleX(1.1) scaleY(1.3):-webkit-transform;
all 0.4s:transition;
all 0.4s:-moz-transition;
all 0.4s:-o-transition;
all 0.4s:-webkit-transition;
0:opacity;
hidden:visibility;
3px:border-radius;
1px solid #57b846:border;
none:pointer-events;
-1px:left;
-1px:top;
calc(100% + 2px):height;
calc(100% + 2px):width;
block:display;
absolute:position{
.focus-input100
};
scale(1):transform;
scale(1):-o-transform;
scale(1):-ms-transform;
scale(1):-moz-transform;
scale(1):-webkit-transform;
1:opacity;
visible:visibility{
.eff-focus-selection
}
};
#57b846:color{
&.active
};
#57b846:color{
&:hover ;
background 0.4s:transition;
background 0.4s:-moz-transition;
background 0.4s:-o-transition;
background 0.4s:-webkit-transition;
pointer:cursor;
0 5px:padding;
12px:right;
0:top;
100%:height;
absolute:position;
center:align-items;
flex:display;
-ms-flexbox:display;
-moz-box:display;
-webkit-flex:display;
-webkit-box:display;
#999999:color;
15px:font-size{
.btn-show-pass
}
}
}
};
#57b846:color{
&::before {
& + .label-checkbox100 {
&:checked ;
none:display{
.input-checkbox100
}
};
translateY(-50%):transform;
translateY(-50%):-o-transform;
translateY(-50%):-ms-transform;
translateY(-50%):-moz-transform;
translateY(-50%):-webkit-transform;
50%:top;
0:left;
1px solid #e6e6e6:border;
#fff:background;
2px:border-radius;
18px:height;
18px:width;
absolute:position;
center:align-items;
center:justify-content;
flex:display;
-ms-flexbox:display;
-moz-box:display;
-webkit-flex:display;
-webkit-box:display;
transparent:color;
13px:font-size;
FontAwesome:font-family;
"\f00c":content{
&::before ;
pointer:cursor;
26px:padding-left;
relative:position;
block:display;
1.4:line-height;
#999999:color;
13px:font-size;
Raleway-Regular:font-family{
.label-checkbox100
};
wrap:flex-wrap;
flex:display;
-ms-flexbox:display;
-moz-box:display;
-webkit-flex:display;
-webkit-box:display;
100%:width{
.container-login100-form-btn
}
};
#2faca3:background-color{
&:hover ;
all 0.4s:transition;
all 0.4s:-moz-transition;
all 0.4s:-o-transition;
all 0.4s:-webkit-transition;
27px:border-radius;
#35BDB3:background-color;
55px:height;
150px:min-width;
0 20px:padding;
center:align-items;
center:justify-content;
flex:display;
-ms-flexbox:display;
-moz-box:display;
-webkit-flex:display;
-webkit-box:display;
1.2:line-height;
#fff:color;
16px:font-size;
Raleway-Bold:font-family{
.login100-form-btn
};
relative:position{
.validate-input
}
}
};
1:opacity;
visible:visibility{
&:before {
&:hover
};
18px:right;
translateY(-50%):transform;
translateY(-50%):-o-transform;
translateY(-50%):-ms-transform;
translateY(-50%):-moz-transform;
translateY(-50%):-webkit-transform;
50%:top;
18px:font-size;
#c80000:color;
absolute:position;
block:display;
FontAwesome:font-family;
"\f12a":content{
&::after
};
opacity 0.4s:transition;
opacity 0.4s:-moz-transition;
opacity 0.4s:-o-transition;
opacity 0.4s:-webkit-transition;
0:opacity;
hidden:visibility;
left:text-align;
1.4:line-height;
14px:font-size;
#c80000:color;
Raleway-Medium:font-family;
none:pointer-events;
12px:right;
translateY(-50%):transform;
translateY(-50%):-o-transform;
translateY(-50%):-ms-transform;
translateY(-50%):-moz-transform;
translateY(-50%):-webkit-transform;
50%:top;
4px 25px 5px 10px:padding;
3px:border-radius;
1px solid #c80000:border;
#fff:background-color;
70%:max-width;
absolute:position;
attr(data-validate):content{
&::before
};
hidden:visibility{
.btn-show-pass {
.alert-validate
}
}
};
1:opacity;
visible:visibility{
.alert-validate::before {
(max-width { &: { 992px) {
@media
}
}
{
@media {
(max-width { &: { 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
}
}
}
