@font-face
};
normal:font-style;
normal:font-weight;
url("../sourcesanspro-bold-webfont.woff2") format('woff2'), url("../sourcesanspro-bold-webfont.woff") format('woff'):src;
'source_sans_probold':font-family;
normal:font-style;
normal:font-weight;
url("../sourcesanspro-regular-webfont.woff2") format('woff2'), url("../sourcesanspro-regular-webfont.woff") format('woff'):src;
'source_sans_proregular':font-family;
normal:font-style;
normal:font-weight;
url("../sourcesanspro-light-webfont.woff2") format('woff2'), url("../sourcesanspro-light-webfont.woff") format('woff'):src;
'source_sans_prolight':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneuemed-webfont.woff2") format('woff2'), url("../helveticaneuemed-webfont.woff") format('woff'):src;
'helveticaneuemedium':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue-webfont.woff2") format('woff2'), url("../helveticaneue-webfont.woff") format('woff'):src;
'helveticaneueregular':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue_medium-webfont.woff2") format('woff2'), url("../helveticaneue_medium-webfont.woff") format('woff'):src;
'helveticaneuemedium':font-family;
normal:font-style;
normal:font-weight;
url("../helveticaneue_light-webfont.woff2") format('woff2'), url("../helveticaneue_light-webfont.woff") format('woff'):src;
'helveticaneuelight':font-family;
normal:font-style;
normal:font-weight;
url("../helvetica_neu_bold-webfont.woff2") format('woff2'), url("../helvetica_neu_bold-webfont.woff") format('woff'):src;
'helveticaneuebold':font-family{
@font-face
};
#fff:background{
.body
};
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:transition;
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:-moz-transition;
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:-webkit-transition;
70px:height;
100:z-index;
100%:width;
0:top;
fixed:position{
.sticky
}
};
#fff:color;
#007095:background{
:hover ;
6px 0 0:margin;
14px:font-size;
0:line-height;
#35BDB3:color;
#fff:background;
3px:border-radius;
35px:height;
100px:width{
.join_btn
}
}
};
1:z-index;
0.5:opacity;
black:background-color;
100%:width;
100%:height;
0:left;
0:top;
absolute:position{
.overlay
};
2:z-index;
relative:position{
.container
};
translateX(-50%) translateY(-50%):transform;
translateX(-50%) translateY(-50%):-webkit-transform;
translateX(-50%) translateY(-50%):-moz-transform;
translateX(-50%) translateY(-50%):-ms-transform;
0:z-index;
auto:height;
auto:width;
100%:min-height;
100%:min-width;
50%:left;
50%:top;
absolute:position{
video ;
hidden:overflow;
100%:width;
35rem:min-height;
85vh:height;
black:background-color;
relative:position{
.banner
};
0:margin{
.navbar
};
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:transition;
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:-moz-transition;
background-color 0.4s,color 0.4s,transform 0.4s,opacity 0.4s ease-in-out:-webkit-transition;
#fff:color;
15px 0:padding;
80px:height;
0:border-radius;
none !important:border;
#01303F:background{
.my-nav-style ;
left:float;
100%:width{
#header
};
#fff:color{
#header .my-nav-style .navbar-brand,
#header .my-nav-style .navbar-nav > li > a
};
0.7:opacity{
#header .my-nav-style .navbar-brand:hover,
#header .my-nav-style .navbar-nav > li > a:hover
};
left:float;
30%:width{
.navbar-header
}
};
45px:height;
50px:width{
img
};
0 0 0 15px:padding{
a
};
none:display;
0 0 0 20px:margin;
#fafafa:color{
p ;
auto:width;
block:display;
100%:width;
center:align-items;
flex:display{
.logo_img
};
100%!important:height{
.h-100
}
}
};
0:margin;
#fff:color;
17px:line-height;
:font-family;
12px:font-size{
p ;
center:align-items;
flex:display;
center:justify-content;
center:text-align;
35px:height;
#222:background;
left:float;
100%:width{
.footer_bottom
}
};
0:margin;
#fff:color;
17px:line-height;
:font-family;
14px:font-size{
p
};
0 0 10px:margin;
#fff:color;
23px:line-height;
:font-family;
20px:font-size{
h2 ;
none:background;
0:margin;
50px 5%:padding;
left:float;
100%:width{
.footer ;
left:float;
100%:width;
#242a2e:background{
#footer_main
}
};
100%:height;
100%:width{
img ;
0 0 10px:margin;
50px:height;
50px:width{
.footer_logo
}
}
};
#fff:color{
a {
li ;
#fff:color;
none:list-style;
0:padding;
0:margin;
left:float;
100%:width{
.footer_Category
}
}
};
#1ccacd:color{
a {
li ;
#fff:color;
none:list-style;
0:padding;
0:margin;
left:float;
100%:width{
.footer_menu
}
};
0:margin;
#fff:color;
21px:line-height;
:font-family;
18px:font-size{
h3 ;
0:padding;
none:list-style;
0:margin;
left:float;
100%:width{
.footer_contact
};
0:padding-left;
70px:padding-left{
.footer_mid_col_padd_left
}
}
};
0:margin;
#fff:color;
21px:line-height;
:font-family;
16px:font-size{
li {
ul {
.footer
};
center:text-align;
10px 10px 0 0:margin;
#242a2e:color;
100%:border-radius;
#848C94:background;
left:float;
30px:height;
30px:width{
.facebook_icon,
.instagram_icon,
.twitter_icon
};
7px:margin;
#242a2e:color{
.fa
}
}
}
}
};
100%:width{
.navbar-header {
(max-width { &: { 767px) {
and {
screen {
@media
}

.navbar-default {
.navbar-collapse {
  width: 100%;
  background: #01303F;
}
}

.padding_left_banner {
padding-left: 15px !important;
}

.banner_content {
h1 {
  font-size: 40px;
  line-height: 40px;
}
}
